<!DOCTYPE html>
<html lang="it">

<head>
    <title>Site home page</title>
    <meta charset="utf-8">
    <meta name="author" content="Emanuele Rizzolo">
    <meta name="description" content="Home page per modello di sito web">
    <link rel="stylesheet" href="css/core.css">
    <script src="js/core.js"></script>
</head>

<body>
    <img src="images/Logo_Levi-Ponti_small.PNG" alt="Logo dell'Istituto Levi-Ponti">
    <h1>Semplice modello strutturale di sito web</h1>
    <p>sposta il cursore sulle directory per vederne una descrizione</p>
    <ul>
        <li title="root directory">
            template
            <ul>
                <li title="audio files directory">
                    audio
                    <ul>
                        <li title="example of audio file">
                            <a href="audio/file_example_MP3_700KB.mp3" download> file_example_MP3_700KB.mp3 </a>
                        </li>
                    </ul>
                </li>
                <li title="css files directory">
                    css
                    <ul>
                        <li title="example of css file">
                            <a href="css/core.css" download> core.css </a>
                        </li>
                    </ul>
                </li>
                <li title="html pages directory">
                    html
                    <ul>
                        <li title="example of html file">
                            <a href="html/main.html"> main.html </a>
                        </li>
                    </ul>
                </li>
                <li title="images files directory">
                    images
                    <ul>
                        <li title="logo image file">
                            <a href="images/Logo_Levi-Ponti_small.PNG">Logo_Levi-Ponti_small.PNG</a>
                        </li>
                    </ul>
                </li>
                <li title="javascript files directory">
                    js
                    <ul>
                        <li title="example of javascript file">
                            <a href="js/core.js" download> core.js </a>
                        </li>
                    </ul>
                </li>
                <li title="video files directory">
                    video
                </li>
                <li title="home page html file">
                    <a href="index.html">index.html</a>
                </li>
            </ul>
        </li>
    </ul>
</body>

</html>