* {
    --sfondo: white;
    background-color: var(--sfondo);
    box-sizing: border-box;
}

label {
    display: block;
}

menu {
    padding: 0px;
}

menu>li {
    list-style-type: none;
    display: inline-block;
}

menu li details fieldset {
    display: none;
    background-color: var(--sfondo);
}

menu li details:hover fieldset, menu li details fieldset:hover {
    width: max-content;
    position: absolute;
    display: block;
    z-index: +1;
}

#tris div {
    float: left;
    border: 2px solid black;
    background-image: url("../images/b.png");
    background-size: cover;
    width: 20vmin;
    height: 20vmin;
}

#tris div:nth-child(3n+1) {
    clear: left;
}

#tris div.cross {
    background-image: url("../images/x.png");
    cursor: not-allowed;
}

#tris div.circle {
    background-image: url("../images/o.png");
    cursor: not-allowed;
}

#tris div.winning {
    transform: rotate(180deg);
    transition: transform 2s;
}

#tris div.current {
    border: 10px inset green;
}

#tris div.circle.current, #tris div.cross.current {
    border: 10px dashed brown;
}

#tris div.losing {
    opacity: 0.1;
    transition: opacity 2s;
}

#tris::after {
    content: "";
    display: table;
    clear: both;
}

#timers img {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
}

#timers span.turno {
    border: 1px solid green;
}