#tastierino {
    border-collapse: separate;
    text-align: center;
}

#tastierino tbody td {
    width: 4em;
    height: 2em;
    border: 1px solid black;
    background-color: lightgreen;
}

#tastierino tfoot td {
    background-color: aqua;
}

#tastierino tbody td.disabled {
    background-color: lightgrey;
}